@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* ----------------- scrollbar customize ----------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* --------end--------- scrollbar customize ---------end-------- */

/* ----------------- counterlayer extents and reset's for markdown ----------------- */

h1 > a > .icon.icon-link:before,
h2 > a > .icon.icon-link:before,
h3 > a > .icon.icon-link:before {
  content: "#";
  font-size: 0.8rem;
}

h2 > a,
h3 > a {
  text-decoration: none !important;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 2px;
  padding-left: 0;
  padding-right: 4px;
  border-radius: 2px;
  border-left: 2px solid #7b00d3;
}

[data-highlighted-chars] {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 2px;
  border-radius: 2px;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
}

[data-rehype-pretty-code-title] {
  position: absolute;
  right: 0;
  background-color: #7b00d3;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  border-end-start-radius: 4px;
}

[data-rehype-pretty-code-caption] {
  /* position: relative;
  top: 100%; */
  margin-top: -1rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #747474;
}

/* ---------end-------- counterlayer extents and reset's for markdown ---------end-------- */

.dark .customGradientFooterBgColor {
  background: rgb(230, 237, 255);
  background: -moz-linear-gradient(
    140deg,
    rgb(188 207 255) 0%,
    rgba(136, 154, 205, 1) 50%,
    rgb(139 67 253) 100%
  );
  background: -webkit-linear-gradient(
    140deg,
    rgb(188 207 255) 0%,
    rgba(136, 154, 205, 1) 50%,
    rgb(139 67 253) 100%
  );
  background: linear-gradient(
    140deg,
    rgb(188 207 255) 0%,
    rgba(136, 154, 205, 1) 50%,
    rgb(139 67 253) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6edff",endColorstr="#3d5598",GradientType=1);
}
